<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="JavaScript image viewer.">
<meta name="author" content="Chen Fengyuan">
<title>Viewer.js</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/mdb-pro.min.css">
<style type="text/css">
.view1 {
	position: relative;
	overflow: hidden;
	cursor: default
}
</style>
</head>
<body>
	<div class="col-lg-6 col-md-12 col-sm-12">
		<div class="row product-gallery">
			<div class="col-lg-12" style="height: 460px;">
				<figure class="view main-img" style="max-height: 450px;">
					<img
						src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
						style="margin-top: -90px; transform-origin: center center; transform: scale(1);"
						alt="">
				</figure>
				<figure class="view" style="visibility: hidden;">
					<img
						src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg"
						style="margin-top: -90px; transform-origin: center center; transform: scale(1);"
						alt="">
				</figure>
				<figure class="view" style="visibility: hidden;">
					<img
						src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg"
						style="margin-top: -90px; transform-origin: center center; transform: scale(1);"
						alt="">
				</figure>
				<figure class="view" style="visibility: hidden;">
					<img
						src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
						style="margin-top: -90px; transform-origin: center center; transform: scale(1);"
						alt="">
				</figure>
			</div>
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3">
						<div class="gallery-item hoverable">
							<img
								src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg"
								class="img-fluid" alt="">
						</div>
					</div>
					<div class="col-lg-3">
						<div class="gallery-item hoverable">
							<img
								src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg"
								class="img-fluid" alt="">
						</div>
					</div>
					<div class="col-lg-3">
						<div class="gallery-item hoverable">
							<img
								src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
								class="img-fluid" alt="">
						</div>
					</div>
					<div class="col-lg-3">
						<div class="gallery-item hoverable">
							<img
								src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
								class="img-fluid" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="col-lg-6 col-md-12 col-sm-12">
		<h5>Blue denim shirt</h5>
		<p class="text-muted text-uppercase small">Shirts</p>
		<p>
			<span><strong>17.99</strong></span>
		</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
			Numquam, sapiente illo. Sit error voluptas repellat rerum quidem,
			soluta enim perferendis voluptates laboriosam. Distinctio, officia
			quis dolore quos sapiente tempore alias.</p>
		<div class="table-responsive">
			<table class="table table-sm table-borderless">
				<tbody>
					<tr>
						<th scope="row"><strong>Model</strong></th>
						<td>Shirt 5407X</td>
					</tr>
					<tr>
						<th scope="row"><strong>Color</strong></th>
						<td>Blue</td>
					</tr>
					<tr>
						<th scope="row"><strong>Delivery</strong></th>
						<td>USA, Europe</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="table-responsive">
			<table class="table table-sm table-borderless">
				<tbody>
					<tr>
						<td>Quantity</td>
						<td>Select size</td>
					</tr>
					<tr>
						<td>
							<div>
								<input min="0" name="quantity" value="1" type="number">
							</div>
						</td>
						<td>
							<div class="">
								<div class="form-check form-check-inline pl-0">
									<input type="radio" class="form-check-input" id="small"
										name="materialExampleRadios" checked=""> <label
										class="form-check-label small text-uppercase card-link-secondary"
										for="small">Small</label>
								</div>
								<div class="form-check form-check-inline pl-0">
									<input type="radio" class="form-check-input" id="medium"
										name="materialExampleRadios"> <label
										class="form-check-label small text-uppercase card-link-secondary"
										for="medium">Medium</label>
								</div>
								<div class="form-check form-check-inline pl-0">
									<input type="radio" class="form-check-input" id="large"
										name="materialExampleRadios"> <label
										class="form-check-label small text-uppercase card-link-secondary"
										for="large">Large</label>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button type="button" class="btn btn-light waves-effect waves-light">Buy
			now</button>
		<button type="button" class="btn btn-light waves-effect waves-light">Add
			to cart</button>
	</div> -->
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/mdb.ecommerce.min.js"></script>
</body>
</html>